<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectJerseyBola.Properties.Settings.DB_JerseyConnectionString"
            connectionString="Data Source=IDEAPAD-ARYA\BANGDIO;Initial Catalog=DB_Jersey;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>